nav {
    display:flex;
    justify-content: space-evenly;
    padding: 10px 30px;
}
div {
    border:1px solid pink;
    padding:20px;
}
ul {
    display: flex;
    justify-content: space-around;
    gap:20px;
}
li {
    list-style: none;
}